body{
    background-color:#aaa;
     font-family:'HelveticaNeue','Arial', sans-serif;
   }
   
   div#form{
   position: absolute;
   width:360px;
   height:320px;
   height:auto;
   background-color: #fff;
   margin:auto;
   border-radius: 5px;
   padding:20px;
   left:50%;
   top:50%;
   margin-left:-180px;
   margin-top:-200px;
   }

p.resize img{
    width: 300px;
}